blinker==1.4
Flask==0.10.1
Flask-Cache==0.13.1
Flask-Login==0.2.11
Flask-Principal==0.4.0
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
Pygments==2.0.2
SQLAlchemy==1.0.9
Werkzeug==0.11.2
wheel==0.24.0
WTForms==2.0.2
